.text-slider__dynamic {
  margin: 0;
  height: 2rem !important;
  line-height: 2em;
  overflow: hidden; }

.vertical-slider {
  margin: 0;
  padding: 0;
  overflow: hidden;
  text-align: center; }

.vertical-slider__item {
  margin: 0;
  padding: 0;
  line-height: 1.25em;
  overflow: hidden;
  letter-spacing: 2px; }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  box-sizing: border-box; }

body {
  font-family: "Open Sans", sans-serif;
  color: white; }

a {
  text-decoration: none; }

ul {
  list-style-type: none; }

.header {
  background-color: red;
  grid-column: center-start / center-end; }

.banner {
  background-color: #2200ff;
  grid-column: full-start / full-end; }

.large-pictures {
  background-color: #f30588;
  grid-column: center-start / center-end; }

.brands {
  background-color: #00dcdc;
  grid-column: center-start / center-end; }

.collections {
  background-color: #7f00c9;
  grid-column: center-start / center-end; }

.banner-2 {
  background-color: #ffa600;
  grid-column: full-start / full-end; }

.new-arrival {
  background-color: #ff58ba;
  grid-column: center-start / center-end; }

.blog {
  background-color: #22187b;
  grid-column: center-start / center-end; }

.services {
  background-color: #94ca00;
  grid-column: full-start / full-end; }

.footer {
  background-color: #18991c;
  grid-column: center-start / center-end; }

.icon {
  width: 2rem;
  height: 2rem; }
  .icon__light {
    fill: white; }
  .icon__dark {
    fill: #282828; }
  .icon:hover {
    fill: #ff7b34; }

.announcement-bar {
  background-color: #282828;
  grid-column: full-start / full-end;
  padding: 1rem 9rem;
  display: flex;
  justify-content: space-between;
  align-items: center; }

.announcement__icons a:not(:last-child) {
  margin-right: 1rem; }

.announcement__text {
  font-size: 1.6rem;
  font-weight: 300; }
  .announcement__text-icon {
    width: 1.5rem;
    height: 1.5rem; }
  .announcement__text span {
    color: #ff7b34; }

.announcement__options {
  display: flex;
  font-size: 1.3rem;
  font-weight: 300; }

.announcement__option:not(:last-child) {
  margin-right: 4rem;
  position: relative; }

.announcement__option:hover {
  color: #ff7b34;
  cursor: pointer; }

.announcement__option__with-dropdown::after {
  content: '';
  display: inline-block;
  height: 1.5rem;
  width: 1.5rem;
  position: absolute;
  top: 50%;
  right: -18px;
  transform: translateY(-40%);
  background-image: url(../../icon/SVG/gift.svg);
  background-size: cover; }
  @supports (-webkit-mask-image: url()) or (mask-image: url()) {
    .announcement__option__with-dropdown::after {
      background-color: white;
      -webkit-mask-image: url(../../icon/SVG/chevron-small-down.svg);
      -webkit-mask-size: cover;
      mask-image: url(../../icon/SVG/chevron-small-down.svg);
      mask-size: cover;
      background-image: none; } }

.announcement__option__with-dropdown:hover::after {
  background-color: #ff7b34; }

.announcement__option__dropdown {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 125px;
  padding: 13px 19px 9px;
  left: -16px;
  margin-top: 1rem; }
  .announcement__option__dropdown .nav__link {
    display: inline-block;
    color: #282828; }
    .announcement__option__dropdown .nav__link:hover {
      color: currentColor; }
  .announcement__option__dropdown .nav__item:not(:last-child) {
    margin-bottom: 1.2rem; }

.showDropdown {
  display: block; }

.container {
  display: grid;
  grid-template-rows: min-content min-content 40vw 40vw repeat(2, min-content) 36vw repeat(4, min-content);
  grid-template-columns: [full-start] minmax(3rem, 9rem) [center-start] repeat(8, [col-start] minmax(min-content, 1fr) [col-end]) [center-end] minmax(3rem, 9rem) [full-end]; }
