.container {
    display: grid;
    grid-template-rows: min-content min-content 40vw 40vw repeat(2, min-content) 36vw repeat(4, min-content);
    grid-template-columns: [full-start] minmax(3rem, 9rem) [center-start] 
    repeat(8, [col-start] minmax(min-content, 1fr) [col-end]) [center-end] minmax(3rem, 9rem) [full-end];
    // [full-start] 1fr [center-start] 
    // repeat(8, [col-start] minmax(min-content, 14rem)[col-end]) [center-end] 1fr [full-end];
}